
body {
    background-color: #ffffff;
    color: #192e3a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 4rem 0 3rem;
}

a {
    color: #305a77;
    text-decoration: none;
}

a:hover {
    color: #4096b9;
}

h1, h2, h3, h4, h5, h6 {
    color: #2bc3c8;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.btn {
    background-color: #2bc3c8;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #4096b9;
}



header {
    background-color: #192e3a;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    color: #4096b9;
}

footer {
    background-color: #305a77;
    color: #fff;
    padding: 1rem;
    /*text-align: left;*/
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.previous {
    background-color: #305a77;
    color: #fff;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    float: left;
    margin: 0 0 0 0;
}

.next {
    background-color: #305a77;
    color: #fff;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    text-align: left;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    float: right;
    margin: 0 1rem 0 0;
}

footer a {
    color: #2bc3c8;
    text-decoration: none;
}

/*style input text*/
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background: #cccccc;
    color: #000000;
    font-size: 20px;
    border-radius: 4px;

}

input[type=submit] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background: #cccccc;
    color: #000000;
    font-size: 20px;
    border-radius: 4px;

}

input[type=submit]:hover {
    background: #4096b9;
    color: #fff;
}

input[type=reset]:hover {
    background: #4096b9;
    color: #fff;
}

input[type=submit]:active {
    background: #06384d;
    color: #fff;
}

input[type=reset]:active {
    background: #06384d;
    color: #fff;
}



input[type=reset] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background: #cccccc;
    color: #000000;
    font-size: 20px;
    border-radius: 4px;

}




.card {
    background-color: #192e3a;
    color: #fff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px #305a77;
}

.card img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.card h2 {
    margin: 0;
    color: #4096b9;
}

.card p {
    margin: 1rem 0;
    color: #2bc3c8;
}

.card a {
    background-color: #2bc3c8;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    display: inline-block;
    margin-top: 1rem;
}

.card a:hover {
    background-color: #4096b9;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.5rem;
    text-align: left;
    border: 1px solid #305a77;
}



th {
    background-color: #192e3a;
    color: #fff;
}

td {
    background-color: #06060a;
    color: #2bc3c8;

}

tr:nth-child(even) {
    background-color: #4096b9;
}

tr:hover {
    background-color: #2bc3c8;
}


/*CSS for form labels and inputs*/

label {
    display: block;
    margin: 0.5rem 0;
}

input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #305a77;
    border-radius: 5px;
}

label {
    display: block;
    margin: 0.5rem 0;
    color: white;


}



















